h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.statistics {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgb(250, 250, 247);
  border-radius: 10px;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: gray;
  margin: 40px auto;
}
